.formulario{
   margin: 40px 0 60px 0;
} 
.invalid-tooltip{
    left: auto;
}
.titulo-2{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #03110F;
}
.form-label{
    color: #03110F;
    font-weight: bold;
}
.form-control{
    border: 2px solid #105249;
}
.input-itens{
    margin-bottom: 15px;
}
.btn{
    background-color: #03110F;
    font-weight: bold;
    color: white;
    padding: 10px 30px;
}
.btn-submit{
    margin: 0 auto;
}