.titulo-page-404{
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    color: #03110F;
    text-align: center;
    margin: 40px 0;
}
.btn{
    background-color: #03110F;
    font-weight: bold;
    color: white;
    padding: 10px 30px;
    display: block;
    margin: 0 auto;
}
.btn:hover{
    background-color:#105249;
}